
* {
  margin:0;
      padding:0;
      box-sizing:border-box;
      
box-sizing: border-box;
}
  a{
      border-radius:30px;
  }

  .blue-color {
  color:rgb(136, 136, 231);
}


a:hover{
  background-color: rgb(149, 148, 155);
  }
  .but{
      background-color: rgb(5, 117, 245);
      color:white;
      border-radius: 30px;
      width:130px;
      height:50px;
  }
  .but:hover{
    background-color: rgb(109, 126, 223);
  }
  /* .data{
      margin-top: 64px;
      margin-left:44px;
      font-size:10vh;
   display:flex; 
  } */
  .get{
      background-color: rgb(5, 117, 245);
      color:white;
      border-radius: 30px;
      border-color: rgb(5, 117, 245);
      width:200px;
      height:50px;
      margin-top:150px;
      margin-left:44px;
      margin-bottom: 24px;
  }
  /* .logo{
    margin-left:100px;
  } */
  nav{
      box-shadow: 0 15px 8px 0
rgba(56, 55, 55, 0.2),0 6px 20px 0
rgba(46, 45, 45, 0.19);
opacity:0.8;

  }
  .content{
    text-align: center;
  }
  .Getting{
    width:200px;
    border-radius:40px;
    font-size:26px;
  }
.row{
width: 100%;
display:flex;
align-items: center;
justify-content: center;
}
h2{
color:rgb(7, 7, 8)
}
.logo1{
text-align: center;
}
.welcome{
color:rgb(66, 66, 236);
/* text-decoration: dashed; */
text-align: center;
font-family: 'Narnoor', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-weight: bolder;
font-size: 25px;
text-decoration:underline;
}
.instruct{
font-family: 'Narnoor', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-weight: bolder;
font-size: 40px;
text-align: center;
color:rgb(4, 4, 247);
text-decoration: underline;
}
.foot{
background-color: rgb(212, 211, 211);
margin:0;
padding: 0;

}

.icons{
  display:flex;
  text-align: center;
  justify-content: center;
}